{% extends 'base.html' %}

{%  block tab_title %}
    Login
{% endblock %}

{% block content %}

     <div class="container">
        <div class="card border-0 shadow my-5">
            <div class="card-body p-5">
                <div class="mb-3">
                    <h2>Login</h2>
                </div>

            {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <div class="alert alert-danger alert-dismissible fade show mt-1" role="alert">
                    {{ error|escape }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
        {% endfor %}
    {% endif %}

                <div class="row">
                    <div class="col-6">
                        <form method="post">
                            {% csrf_token %}

                            <div class="form-group">
                                <label for="{{ form.username.id_for_label }}"><b>Benutzername</b></label>
                                <input type="text" class="form-control" id="{{ form.username.id_for_label }}"
                                       name="{{ form.username.html_name }}"
                                       placeholder="Benutzername" required>
                                {% if form.username.errors %}
                                    <small class="form-text text-alert">{{ form.username.errors.0 }}</small>
                                {% endif %}
                            </div>

                            <div class="form-group">
                                <label for="{{ form.password.id_for_label }}"><b>Passwort</b></label>
                                <input type="password" class="form-control"
                                       id="{{ form.password.id_for_label }}"
                                       placeholder="Passwort" name="{{ form.password.html_name }}" required>
                                {% if form.password.errors %}
                                    <small class="form-text text-alert">{{ form.password.errors.0 }}</small>
                                {% endif %}

                                <button type="submit" class="btn btn-primary" style="margin-top: 15px">Login</button>
                            </div>
                        </form>

                        <div class="mt-3">
                            <div class="alert alert-info" role="alert">
                                Oder jetzt <a href="{% url 'signup' %}">Registrieren</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}