{% extends 'base.html' %}

{%  block tab_title %}
    Home
{% endblock %}


{% block content %}


     <div class="container">
        <div class="card border-0 shadow my-5">
            <div class="card-body p-5">
                <div class="mb-3">
                    <p class="text-center display-4 ">Vielen Dank! Sie haben sich erfolgreich abgemeldet.</p>
                    <p class="text-center display-4 ">Zurück zur <a href="{% url 'home' %}">Startseite.</a></p>
                </div>
            </div>
        </div>
     </div>

{% endblock %}