{% extends 'base.html' %}

{%  block tab_title %}
    Signup
{% endblock %}

{% block content %}

    <div class="container">
        <div class="card border-0 shadow my-5">
            <div class="card-body p-5">
                <div class="mb-3">
                    <h2>Registrieren</h2>
                </div>

               {% for message in messages %}

                    <div class="alert alert-success">
                        <a class="close" href="#" data-dismiss="alert">×</a>

                        {{ message }}

                    </div>
            {% endfor %}

    {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <div class="alert alert-danger alert-dismissible fade show mt-1" role="alert">
                    {{ error.message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
        {% endfor %}
    {% endif %}

    <div class="row">
        <div class="col-6">
            <form method="post">
                {% csrf_token %}

                <div class="form-group">
                    <label for="{{ form.username.id_for_label }}"><b>Benutzername</b></label>
                    <input type="text" class="form-control" id="{{ form.username.id_for_label }}"
                           name="{{ form.username.html_name }}"
                           placeholder="Benutzername eingeben" required>
                    {% if form.username.errors %}
                        <small class="form-text text-alert">{{ form.username.errors.0 }}</small>
                    {% endif %}
                </div>

                <div class="form-group">
                    <label for="{{ form.password1.id_for_label }}"><b>Passwort</b></label>
                    <input type="password" class="form-control" id="{{ form.password1.id_for_label }}"
                           name="{{ form.password1.html_name }}"
                           placeholder="Passwort eingeben" required>
                    {% if form.password1.errors %}
                        <small class="form-text text-alert">{{ form.password1.errors.0 }}</small>
                    {% endif %}
                </div>

                <div class="form-group">
                    <label for="{{ form.password2.id_for_label }}"><b>Passwort wiederholen</b></label>
                    <input type="password" class="form-control" id="{{ form.password2.id_for_label }}"
                           name="{{ form.password2.html_name }}"
                           placeholder="Passwort wiederholen" required>
                    {% if form.password2.errors %}
                        <small class="form-text text-alert">{{ form.password2.errors.0 }}</small>
                    {% endif %}
                </div>

                <button class="btn btn-info">Jetzt Registrieren</button>
            </form>
        </div>

        <div class="col">
            <div class="alert alert-info" role="alert">
                <h4 class="alert-heading">Benutzernamen Regeln</h4>
                <p>
                    Erforderlich. 150 Zeichen oder weniger. Nur Buchstaben,
                    Zahlen und
                    @/./+/-/_
                </p>
            </div>

            <div class="alert alert-warning" role="alert">
                <h4 class="alert-heading">Passwort Regeln</h4>
                <ul class="">
                    <li>Ihr Passwort darf Ihren anderen persönlichen Daten nicht zu ähnlich sein</li>
                    <li>Ihr Passort muss mindestens 8 Zeichen lang sein</li>
                    <li>Ihr Passwort sollte kein häufig verwendetes Passwort sein</li>
                    <li>Ihr Passwort darf nicht nur aus Zahlen bestehen</li>
                </ul>
            </div>
        </div>
    </div>
            </div>
        </div>
    </div>

{% endblock %}