body {
  background: url('https://www.pixblick.de/images/product_images/original_images/dreamstime_84928720_655_0.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}