{% extends 'base.html' %}

{% block tab_title %}
    Drivers
{% endblock %}


{% block content %}

    <div class="container">
        <div class="card border-0 shadow my-5">
            <div class="card-body p-5">
                <h3>Fahrer</h3>

                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                     aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Erstellen</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <form method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="modal-body">
                                    {{ form.as_p }}
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-success">Fahrer erstellen</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                    Fahrer erstellen
                </button>

                <table class="table table-hover table-dark">
                    <thead>
                    <tr>
                        <th scope="col">Vorname</th>
                        <th scope="col">Nachname</th>
                        <th scope="col">Geburtsdatum</th>
                        <th scope="col">Nationalität</th>
                        <th scope="col">Aktionen</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for driver in drivers %}
                        <tr>
                            <td>{{ driver.first_name }}</td>
                            <td>{{ driver.last_name }}</td>
                            <td>{{ driver.birth_date }}</td>
                            <td>{{ driver.nationality }}</td>
                            <td>
                                <a href="{% url 'show_driver' driver.id %}" class="btn btn-info">Öffnen</a>
                                <a href="{% url 'delete_driver' driver.id %}" class="btn btn-danger">Löschen</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>


{% endblock %}