{% extends 'base.html' %}

{% block tab_title %}
    Teams
{% endblock %}


{% block content %}

    <div class="container">
        <div class="card border-0 shadow my-5">
            <div class="card-body p-5">
                <h3>Teams</h3>

                <table class="table table-hover table-dark">
                    <thead>
                    <tr>
                        <th scope="col">Teamname</th>
                        <th scope="col">Teamchef</th>
                        <th scope="col">Chassis</th>
                        <th scope="col">Klasse</th>
                        <th scope="col">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for team in teams %}
                        <tr>
                            <td>{{ team.team_name }}</td>
                            <td>{{ team.team_chef }}</td>
                            <td>{{ team.chassis }}</td>
                            <td>{{ team.category }}</td>
                            <td>
                                <a href="{% url 'show_team' team.id %}" class="btn btn-info">Öffnen</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>


{% endblock %}