{% extends 'base.html' %}

{% block tab_title %}
    Team
{% endblock %}


{% block content %}

    <div class="container">
        <div class="card border-0 shadow my-5">
            <div class="card-body p-5">
                <div class="mb-3">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <ul class="list-unstyled">
                                    <li>Teamname: {{ team.team_name }}</li>
                                    <li>Teamchef: {{ team.team_chef }}</li>
                                    <li>Chassis: {{ team.chassis }}</li>
                                    <li>Kategorie: {{ team.category }}</li>
                                </ul>
                            </div>


                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}