{% extends 'base.html' %}

{% block tab_title %}
    Fahrer
{% endblock %}


{% block content %}
    <div class="container">
        <div class="card border-0 shadow my-5">
            <div class="card-body p-5">
                <div class="mb-3">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <ul class="list-unstyled">
                                    <li>Vorname: {{ driver.first_name }}</li>
                                    <li>Nachname: {{ driver.last_name }}</li>
                                    <li>Geburtsdatum: {{ driver.birth_date }}</li>
                                    <li>Nationalität: {{ driver.nationality }}</li>
                                    <li>Team: {{ driver.team.get.team_name }}</li>
                                </ul>
                            </div>
                            <div class="col">
                                <img src="{{ driver.image.url }}"
                                     class="img-fluid" alt="">
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>




{% endblock %}