{% extends 'base.html' %}

{% block tab_title %}
    Home
{% endblock %}


{% block content %}


    <div class="container">
        <div class="card border-0 shadow my-5">
            <div class="card-body p-5">
                <div class="mb-3">
                    {% if user.is_authenticated %}
                        <p class="text-center display-4 ">Herzlich Willkommen</p>
                        <p class="text-center display-4" style="margin-top: 40px">Hier finden Sie Informationen zu den
                            aktuellen Teams und Fahrer der MotoGP und Moto2.</p>

                    {% else %}
                        <p class="text-center display-4 ">Herzlich Willkommen</p>
                        <p class="text-center display-4" style="margin-top: 40px">Hier finden Sie Informationen zu den
                            aktuellen Teams und Fahrer der MotoGP und Moto2.</p>
                        <p class="text-center display-4" style="margin-top: 40px">Bitte melden Sie sich an.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}